build/
sim/f110_sim.egg-info
__pycache__
*.pyc
.DS_Store
.vscode/
sim/f110_sim/unittest/maps/
sim/f110_sim/unittest/centerline/
docs/_build/
*.mypy_cache/
flycheck_*
dev.py

# configs
utilites/Settings.py
Control_Toolkit_ASF/config_controllers.yml

# sosuke_code
sosuke_code/F1tenth_data
# !sosuke_code/compute_error
# !sosuke_code/plot_traj
# !sosuke_code/rosbag_to_csv
# !sosuke_code/train_NN
# !sosuke_code/train_NN_history
# NN Models
SI_Toolkit_ASF/Experiments/Experiment-MPPI-Imitator

# Pycharm
.idea

# Experiment data
main/maps/WithRandomObstacles/*
ExperimentRecordings/*
Quadruped/plots

# Submodule specific config files
SI_Toolkit/src/SI_Tooklit/SI_Toolkit.egg-info/*
SI_Toolkit_ASF/GlobalPackage/src/SI_Toolkit_ASF_global.egg-info/*
SI_Toolkit_ASF/Experiments/*
/utilites/LaunchConfigsPycharm/*
.idea

SI_Toolkit_ASF/Experiments/*
/PycharmRunConfigurations/*

AnalyzeData/Datasets/*

utilities/maps/*
utilities/maps_files/*
utilities/minimum_curvature_optimization/inputs/tracks/
!utilities/maps/hangar3
!utilities/maps/hangar9
!utilities/maps/hangar12
!utilities/maps/hangar14
!utilities/maps/hangar16
!utilities/maps/icra2022
!utilities/maps/icra2023
!utilities/maps/london3_original
!utilities/maps/london3_small
!utilities/maps/london3_large
!utilities/maps/ETF1
!utilities/maps/ini10
!utilities/maps/RCA1
!utilities/maps/RCA2
!utilities/maps/Milan1
!utilities/maps/Germany2022
!utilities/maps/IPZ33
!utilities/maps/Blank


# TrainingLite

TrainingLite/**/data/*
TrainingLite/**/models/*
TrainingLite/**/figures/*
Datasets/

!TrainingLite/mpc_immitator/models/GRU1-Example
!TrainingLite/mpc_immitator_mu/models/GRU_Example
!TrainingLite/slip_prediction/models/GRU_Example
!TrainingLite/mpc_immitator_mu/models/tGRU_6_stateful4

AnalyseData/Desperate/*

scripts/EulerCluster/out/*

RaceTuner/CopiedSettings/*
ppo_models/*