build/
gym/f110_gym.egg-info
__pycache__
*.pyc
.DS_Store
.vscode/
gym/f110_gym/unittest/maps/
gym/f110_gym/unittest/centerline/
docs/_build/
*.mypy_cache/
flycheck_*
dev.py

# NN Models
SI_Toolkit_ASF/Experiments/Experiment-MPPI-Imitator

# Pycharm
.idea

# Experiment data
main/maps/WithRandomObstacles/*
Experimentrecordings/*
ExperimentRecordings/*
Quadruped/plots

# Submodule specific config files
SI_Toolkit/src/SI_Tooklit/SI_Toolkit.egg-info/*
SI_Toolkit_ASF/GlobalPackage/src/SI_Toolkit_ASF_global.egg-info/*
SI_Toolkit_ASF/Experiments/*
/utilites/LaunchConfigsPycharm/*
.idea

SI_Toolkit_ASF/Experiments/*
/PycharmRunConfigurations/*


utilities/maps/*
utilities/maps_files/*
!utilities/maps/hangar9
!utilities/maps/hangar12
!utilities/maps/hangar14