absl-py==2.3.1
brotlicffi @ file:///croot/brotlicffi_1736182461069/work
cachetools==5.5.2
casadi==3.7.1
certifi @ file:///croot/certifi_1754570635119/work/certifi
cffi @ file:///croot/cffi_1736182485317/work
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
chex==0.1.90
cloudpickle==3.1.1
contourpy==1.3.2
cycler==0.12.1
evdev==1.9.2
f110_sim @ file:///home/florian/Documents/INI/f1tenth_development_gym/sim
Farama-Notifications==0.0.4
filelock @ file:///croot/filelock_1744281381737/work
fonttools==4.59.2
fsspec==2025.7.0
gitdb==4.0.12
GitPython==3.1.45
gmpy2 @ file:///croot/gmpy2_1738085463648/work
google-auth==2.40.3
google-auth-oauthlib==1.0.0
grpcio==1.74.0
gymnasium==1.2.0
idna @ file:///croot/idna_1714398848350/work
imageio==2.37.0
iniconfig==2.1.0
jax==0.4.38
jaxlib==0.4.38
Jinja2 @ file:///croot/jinja2_1741710844255/work
kiwisolver==1.4.9
lazy_loader==0.4
llvmlite==0.44.0
Markdown==3.8.2
MarkupSafe @ file:///croot/markupsafe_1738584038848/work
matplotlib==3.10.5
mkl-service==2.4.0
mkl_fft @ file:///io/mkl313/mkl_fft_1730824109137/work
mkl_random @ file:///io/mkl313/mkl_random_1730823916628/work
ml_dtypes==0.5.3
mpmath @ file:///croot/mpmath_1690848262763/work
msgpack==1.1.1
networkx @ file:///croot/networkx_1737039604450/work
numba==0.61.2
numpy==1.24.3
nvidia-cuda-nvcc-cu12==12.9.86
nvidia-cudnn-cu12==9.11.0.98
nvidia-nvshmem-cu12==3.3.9
oauthlib==3.3.1
opencv-python==4.11.0.86
opt_einsum==3.4.0
optax==0.2.5
packaging==25.0
pandas==2.3.2
pillow @ file:///croot/pillow_1752524526621/work
pluggy==1.6.0
protobuf==6.32.0
psutil==7.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pygame==2.6.1
pyglet==1.5.26
Pygments==2.19.2
pynput==1.8.1
PyOpenGL==3.1.10
pyparsing==3.2.3
pyserial==3.5
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
pytest==8.4.1
python-dateutil==2.9.0.post0
python-xlib==0.33
pytz==2025.2
PyYAML @ file:///croot/pyyaml_1728657952215/work
quadprog==0.1.13
requests @ file:///croot/requests_1750426329888/work
requests-oauthlib==2.0.0
rsa==4.9.1
ruamel.yaml==0.18.15
ruamel.yaml.clib==0.2.12
scikit-image==0.25.2
scipy==1.15.3
seaborn==0.13.2
shapely==2.1.1
-e git+https://github.com/SensorsINI/SI_Toolkit@04b18737cfbf0250283ed430a2bb89294c8a1d6f#egg=SI_Toolkit&subdirectory=../../SI_Toolkit
six==1.17.0
smmap==5.0.2
stable_baselines3==2.7.0
sympy==1.13.1
tensorboard==2.14.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
tifffile==2025.8.28
toolz==1.0.0
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
-e git+ssh://git@github.com/F1Tenth-INI/f1tenth_development_gym.git@31d962c00628d28c61cf9f2bc6ac9d914297880f#egg=trajectory_planning_helpers&subdirectory=utilities/minimum_curvature_optimization/trajectory-planning-helpers
triton==3.1.0
typing_extensions @ file:///croot/typing_extensions_1756280817316/work
tzdata==2025.2
urllib3 @ file:///croot/urllib3_1750775463400/work
Werkzeug==3.1.3
